table {
  border-spacing: 0px;
  width: 100%;
  thead {
    background-color: var(--mantine-color-gray-9);
    color: var(--mantine-color-gray-0);
    tr {
      th {
        padding: 8px 24px;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 8px 24px;
        border-bottom: 1px solid var(--mantine-color-gray-9);
      }
    }
  }
}
