.login-section{
  margin: 80px auto 0; // Center the form vertically and add top margin
  max-width: 400px; // Set maximum width for the form
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;}